application_name              = "{{ application_name }}"
owning_team                   = "{{ owning_team }}"
compute_cpu                   = {{ compute_cpu }}
compute_memory                = "{{ compute_memory }}"
container_port                = {{ container_port }}
ingress_external              = {{ ingress_external | lower }}
min_replicas                  = {{ min_replicas }}
max_replicas                  = {{ max_replicas }}
acr_name                      = "{{ acr_name }}"
acr_login_server              = "{{ acr_login_server }}"
bootstrap_resource_group_name = "{{ bootstrap_resource_group_name }}"
resource_group_name           = "{{ resource_group_name }}"
environment_name              = "{{ environment_name }}"
workspace_name                = "{{ workspace_name }}"
identity_name                 = "{{ identity_name }}"
container_app_name            = "{{ container_app_name }}"
