variable "location" {
  type    = string
  default = "{{ location }}"
}

variable "application_name" {
  type = string
}

variable "owning_team" {
  type = string
}

variable "compute_cpu" {
  type = number
}

variable "compute_memory" {
  type = string
}

variable "container_port" {
  type = number
}

variable "ingress_external" {
  type = bool
}

variable "min_replicas" {
  type = number
}

variable "max_replicas" {
  type = number
}

variable "acr_name" {
  type = string
}

variable "acr_login_server" {
  type = string
}

variable "bootstrap_resource_group_name" {
  type    = string
  default = "spx-demo-bootstrap"
}

variable "resource_group_name" {
  type = string
}

variable "environment_name" {
  type = string
}

variable "workspace_name" {
  type = string
}

variable "identity_name" {
  type = string
}

variable "container_app_name" {
  type = string
}
